* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.5)),url(img/bg-login.jpg);
    background-size: cover;
    background-position: center;
}
.box-div h1 {
    padding-top: 200px;
    text-align: center;
    color: #ccc;
    font-size: 3rem;
}
.box-div input {
    margin-left: 650px;
    margin-top: 30px;
    width: 300px;
    border: 0;
    outline: 0;
    background-color: transparent;
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 30px;
    color: #ccc;
}
.box-div button {
    margin-top: 30px;
    background-color: rgb(52, 87, 88);
    margin-left: 640px;
    border: 0;
    color: #ccc;
    width: 320px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
}
.box-div button:hover {
    box-shadow: 3px 3px 1px #ccc;
}
.box-div p {
    text-align: center;
    padding-top: 20px;
    color: #ccc;
}
.box-div a {
    text-decoration: none;
}